<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Create New User!</h1>
    <form action="/users/new" method="post">
      <input type="text" name="name" placeholder="Enter your name" />
      <input type="text" name="email" placeholder="Enter your email" />
      <input type="number" name="age" placeholder="Enter your age" />
      <input type="text" name="address" placeholder="Enter your address" />
      <input type="text" name="bio" placeholder="Enter your bio" />
      <input type="text" name="hobbies" placeholder="Enter your hobbies" />
      <input type="submit" value="Create User" />
    </form>
  </body>
</html>
